<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= locals.title %></title>
    <link rel='stylesheet' href='/css/bijou.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
